From the stops created yesterday, here is the list of users with potencial weird number of stops:
%table{:border => "1"}
  %tr
    %th User ID
    %th #Stops Created
    %th Day
  - @content[:cases].each do |situation|
    %tr
      %td
        = situation[:user_id]
      %td
        = situation[:count]
      %td
        = situation[:day]
