%p A new session was booked
%p
  The user #{@content[:user]} has booked a session with you from #{@content[:starttime]} to #{@content[:endtime]}
%p Here are the contact details:
%p
  Name: #{@content[:user]}
%p
  Contact: #{@content[:contact]}
%p
  Comments: #{@content[:comments]}
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
