%p
  Hello #{@content[:user]},
%p Thank you for participating in the Future Mobility Survey (FMS)!
%p Because your iPhone's battery was getting low, the FMS mobile app has been turned off.
%p If you have recharged your battery, please turn the app on again in order to restart data collection.
%p Thank you again for your participation! Your help is greatly valued.
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
