= javascript_include_tag "umove/resident_sp"
= form_tag(pages_survey_url, method: :post, id: "begin_survey") do
  .row{:style => "margin-top: 10px;"}
    #home_page.col-xs-offset-1.col-xs-10.well.text-justify
      %h4.text-center
        %b Diese Umfrage ist Teil des Europäischen Horizon2020 Projekts MaaS4EU
      %h4
      %p In dieser Umfrage geht es um ein neues Mobilitätsangebot, welches bald in Ihrer Stadt verfügbar sein wird. Um Ihnen den bestmöglichen Service anbieten zu können, führen wir diese Umfrage durch um etwas über Ihre Vorlieben und Bedürfnisse bezüglich Mobilität zu erfahren.
      %p Nach erfolgreicher Beendigung der Umfrage können Sie an einem Gewinnspiel teilnehmen und Freikarten und reduzierte Tickets für verschiedene Verkehrsmittel gewinnen. Um am Gewinnspiel teilzunehmen, geben Sie bitte Ihre E-Mail an:
      %p.text-center.col-md-offset-3.col-md-9{:style => "margin-top: 0px;"}
        %span.col-md-3 E-Mail:
        %span.col-md-6{:style => "margin-left: -50px;"}
          = text_field_tag :user_email, nil, class: "form-control", placeholder: "Geben sie ihre E-Mailadresse ein"
      %p.text-right Wir bedanken uns für Ihre Teilnahme und Ihre ehrlichen Antworten.
      %p
        %i
          Ihre Daten sind nach der EU Datenschutzgrundverordnung geschützt. Ihre Daten sind anonymisiert und werden nur zu projektbezogenen Zwecken benutzt. Für mehr Informationen lesen Sie die
          %a{:href => "/docs/policy.pdf"}
            %u Privacy Policy
          und die
          = succeed "." do
            %a{:href => "/docs/faq_maas.pdf"}
              %u FAQ
      %h5.row.text-center
        %span.col-md-6 Bitte wählen Sie Ihre Sprache für die Umfrage aus
        %span.col-md-3
          = select_tag "lux_language", options_for_select(@lux_language_options, 2), class: "form-control"
      %h3
        = hidden_field_tag "city_id", @city
        = button_tag type: 'submit', class: 'btn-lg btn-warning pull-right' do
          Umfrage starten
/ end of form
.stripes{:style => "margin-top: 10px;"}
:css
  #home_page p {
    font-family: Helvetica;
    font-size: 16px;
    /*text-align: justify;*/
  }

  #home_page .title_1 {
    font-family: Helvetica;
  }

  label {
    font-weight: normal;
  }
