.row{:style => "margin-top: 10px;"}
  .col-md-12
    %h3 STEP 3
    %table.table
      %tr
        %th Number of Validated Days
        %th Mode Used
        %th Activity Purpose
      %tr
        %td 10
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b Car as a driver
              %td 30%
            %tr
              %td
                %b Car as a passenger
              %td 10%
            %tr
              %td
                %b Taxi
              %td 20%
            %tr
              %td
                %b Ride-hailing (Uber)
              %td 15%
            %tr
              %td
                %b Others
              %td 30%
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b Work
              %td 60%
            %tr
              %td
                %b Grocery Shopping
              %td 15%
            %tr
              %td
                %b Leisure
              %td 25%
.stripes{:style => "margin-top: 10px;"}
:css
  table.stats td {
    padding: 5px;
  }

  .section_title {
    font-size: 20px;
  }
